*, body{
    margin: 0 auto;
    padding: 0px;
}

.test{
    background-color: red;
}
.azul{
    background-color:#2a4c67;
}

.textoBranco{
    color: white;
    font-weight: bold;
    padding-top: 1%;
}

.textoCaixas{
    color: rgb(22, 22, 22);
    font-weight: bold;
    font-size: 150%;
    text-align: center;

}
.branco {
    color: white;
}

.bgcinza{
    background-color: rgb(194, 194, 194);
}
.icon{
    margin-top: 5px;
}
.centro{
    text-align: center;
}

.txtgrande1{
 font-size: 550%;
}

.padding{
    padding: 2%;
}


.padding2{
    padding: 1%;
}

.padding3{
    padding: 18%;
}



.txtgrande2{
    font-size: 400%;
   }


.padding4{
    padding: 4%;
}


.box{
    width: 100%;
    height: 100px;
    border-radius : 12px;
    margin-bottom: -30%;
    margin-top: 10%;
    background-color: #ffffff;
    z-index: 1;
    position: relative;
    line-height: 5;
}


.boxM{
    width: 111%;
    height: 510px;
    border-radius :5px;
    padding: 1%;
    background-color:white;
    margin-left: -10%;
    margin-right: -10%;
}

.button{
    width: 50px;
    height: 50px;
    line-height: 3.5;
    border-radius : 100px;
    background-color:#2a4c67;
    margin-bottom: 5px;
}
.button img{
    position: relative;
    
}
.button:hover{
    cursor: pointer;
    background-color: #1e3344;
}

.montanhaD{
    margin-left: 38.5%;
    margin-top: -15.5%;
}

.montanhaE{
    margin-left: -3.21%;
    margin-top: -2%;
}

/* att */
.menu{
    padding-top: 10px;
    height: 60px;
    text-align: center;
}
.menu div:hover h5{text-shadow: 0px 1px 3px #333;}
.menu div:hover{cursor: pointer;}


.brand-shenikah{
    text-align: center;
}

.imagem_carro{
   padding: 0px !important;
   margin: 0px !important;
   width: 100%;
   height: 320px;
   background-image: url('../images/carro.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 10%;
   
   left: 0%;
   z-index: 0;
}

.modal-opcoes-login{
    position: absolute;
    top: 6%;
    right: 1%;
    background-color: white;
    width: 200px;
    height: 100px;
    display: none;
    z-index: 999;
}
.modal-opcoes-login ul{
    list-style: none;
}

.modal-opcoes-login ul li{
    height: 50px;
    line-height: 4;
    text-align: left;
    padding-left: 15px;
    color: #2a4c67;
    font-weight: bold;
}
.modal-opcoes-login ul li:hover{
    color: #333;
}

@media only screen and (max-device-width: 900px) {
    .menu{ 
        height: 250px;
    }
    .menu div{
        
        height: 20px;
    }
    .boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .box{
        width: 300px;
        display: block;
        padding: 0px;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
       
    }

    .imagem_carro{
        height: 60px;
    }

    .networks{
        text-align: center;
    }
    .consultar_bg{
        display: none;
    }
    .linhas{
        display: none;
    }

}

.icons{
    width: 20px;
    margin-right: 6px;
}

.fontp{
    font-size: 20px;

}

.direitaM{
    margin-left: 165%;
}




.montanhaDU{
    margin-left: 38.5%;
    margin-top: -11.5%;
}

.montanhaEU{
    margin-left: -3.23%;
    margin-top: 4.7%;
}

.montanhaDC{
    margin-left: 38.5%;
    margin-top: -37.5%;
}

.montanhaEC{
    margin-left: -3.21%;
    margin-top: -35.4%;
}

.montanhaDD{
    margin-left: 38.5%;
    margin-top: -39.8%;
}

.montanhaED{
    margin-left: -3.21%;
    margin-top: -38.8%;
}




.montanha1{
    background-image: url('../images/montanha1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 40%;
    max-height: 300px;
    height: 100%;
    height: 100%;
    position: absolute;
    bottom: 0%;
}
.edicao{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.edicao .edicao_opcoes div{
   height: 50px;
   padding: 5px;
}
.edicao .edicao_opcoes div:hover{
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.montanha2{
    background-image: url('../images/montanha2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    width: 30%;
    max-height: 400px;
    height: 100%;
    z-index: 100;
    bottom: 0%;
    left: 70%;
}

.cadastrar input{
    padding: 5px;
}

.alerta{
    position: absolute;
    width: 90%;
    bottom: 0%;
    right: 5%;
    display: none;
   
}
.alertain{
    opacity: 1;
    display: block;
}

.consultar_bg{
    background-image: url('../images/consultar_msg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30%;
    left: 10%;
}
.pesquisar{
    text-align: center;
}
.pesquisar input{
    padding: 15px;
    width: 90%;
    border-radius: 20px;
    border-color: #2a4c67;
    border-width: 1px;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-y: center;
    background-position-x: 96%;
}


.linha{
    width: 80%;
    height: 2px;
    background-color: #2a4c67;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 20px;
    opacity: .6;
}
.lcurta{width: 65%;}

*:focus {
    outline: none;
}

.resultadoConsulta{
    position: absolute;
    width: 70%;
    top: 22%;
    left: 10%;
}
.list-group-item:hover{
    background-color: #ddd;
    cursor: pointer;
    
}
.listaLink{
    text-decoration: none;
    color: #222;
}
.listaLink:hover{
    color: #222;
    text-decoration: none;
}
.font22{
    font-size: 22px;
    color: #666;
}