<div class="alert alert-dismissible alerta" id="alerta">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong><span id="alertaPrefixo"></span></strong> <span id="alertaTexto"></span>
  </div>