<div class="row menu azul">
    <div class="col-sm-1">
        <div class="brand-shenikah">
            <span class="textoBranco">Shenikah</span>
        </div>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-1">
        <h5 class="textoBranco">Inicio</h5>
    </div>

    <div class="col-sm-1">
        <h5 class="textoBranco">Sobre Nós</h5>
    </div>

    <div class="col-sm-1">
        <h5 class="textoBranco">Contato</h5>
    </div>

    <div class="col-sm-1">
        <h5 class="textoBranco">Serviços</h5>
    </div>

    <div class="col-sm-1">
        <h5 class="textoBranco">Ajuda</h5>
    </div>

    <div class="col-sm-1 branco btn-menu-signin" id="btn-menu-signin">
        <img class="icon" src="/images/user.svg" alt="icon" width="40" height="25">
    </div>
    <!-- MODAL -->
    <div class="modal-opcoes-login" id="modal-opcoes-login">
        <ul>
            <li>Entrar</li>
            <li style="width: 85%; background-color: #2a4c67; height: 1px;"></li>
            <li>Cadastrar</li>
        </ul>
    </div>
    <!-- FIM MODAL -->
</div>