<div class="row menu azul">
    <div class="col-sm-1">
        <div class="brand-shenikah">
            <a class="textoBranco" href="/" >Shenikah</a>
        </div>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-1">
        <!-- <a href="/"><h5 class="textoBranco">Inicio</h5></a> -->
    </div>

    <div class="col-sm-1">
        <!-- <h5 class="textoBranco">Painel</h5> -->
    </div>

    <div class="col-sm-1">
        <!-- <h5 class="textoBranco">Contato</h5> -->
    </div>

    <div class="col-sm-1">
        <a href="/"><h5 class="textoBranco">Inicio</h5></a>
    </div>

    <div class="col-sm-1">
        <a href="/equipe/painel"><h5 class="textoBranco">Painel</h5></a>
    </div>

    <div class="col-sm-1 branco btn-menu-signin" id="btn-menu-signin">
        <img class="icon" src="/images/user.svg" alt="icon" width="40" height="25">
    </div>
    <!-- MODAL -->
    <div class="modal-opcoes-login" id="modal-opcoes-login" style="height: 50px;">
        <ul>
            <a href="/"><li>Sair</li></a>
        </ul>
    </div>
    <!-- FIM MODAL -->
</div>