<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Cadastro</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row azul">
                <div class="col-sm-1">

                </div>
                <div class="col-sm-5">
                    <h5 class="textoBranco">Shekinah</h5>
                </div>
                <div class="col-sm-1">
                    <h5 class="textoBranco">Inicio</h5>
                </div>
                    
                <div class="col-sm-1">
                    <h5 class="textoBranco">Sobre Nós</h5>
                </div>
                    
                <div class="col-sm-1">
                    <h5 class="textoBranco">Contato</h5>
                </div>
                    
                <div class="col-sm-1">
                    <h5 class="textoBranco">Serviços</h5>
                </div>

                <div class="col-sm-1">
                    <h5 class="textoBranco">Ajuda</h5>
                </div>
            </div>
        </div>

        <div class="container-fluid bgcinza">
            <div class="row ">
                <div class="padding">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10" style="background-color: white;" >
                    
                    <div class="row">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-2">
                            <h3 class="centro">Cadastro</h3>
                        </div>

                        <div class="montanha1">

                        </div>
                        <div class="col-sm-4">

                        </div>
                    
                        <div class="col-sm-4">

                        </div>
                        <div class="montanha2">

                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4">

                            <form class="centro" action="/action_page.php">
                                <br><br>
                                
                                <input type="text" id="nome" name="nome" value="Nome"><br><br>

                                <input type="text" id="email" name="email" value="Email"><br><br>
                                
                                <input type="text" id="telefone" name="telefone" value="Telefone"><br><br>

                                <input type="text" id="CPF" name="CPF" value="CPF"><br><br>
                                
                                <input type="text" id="RG" name="RG" value="RG"><br><br>

                            </form> 
                        </div>
                        <div class="col-sm-4">
                            
                        </div>
                        
                    
                        <div class="row">
                            <div class="col-sm-5">

                            </div>
                            <div class="col-sm-2">

                                <div class="padding3">

                                </div>

                                <div class="centro button">

                                    <img class="icon" src="/images/send.svg" alt="icon">
    
                                </div>

                            </div>
                            <div class="col-sm-5">
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-sm-1">
                </div>
            </div>

            <div class="padding"></div>
        
            <%- include('parts/footer.ejs') %>
        </div>
    </body>

</html>    
