<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cadastro</title>
    <meta charset="utf-8">
    <%- include('parts/head.ejs') %>

</head>

<body>
    <div class="container-fluid bgcinza">
        <%- include('parts/menu.ejs') %>
            <div class="row ">
                <div class="padding">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10" style="background-color: white;">
                    <div class="row">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-2">
                            <h3 class="centro">Cadastro</h3>
                        </div>
                        <div class="col-sm-5">

                        </div>
                    </div>
                    <div class="row">
                        <div class="montanha1"></div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4" >
                            <form class="cadastrar centro" action="/action_page.php">
                                <br><br>
                                <input type="text" id="nome" name="nome" placeholder="Nome"><br><br>

                                <input type="text" id="email" name="email" placeholder="Email"><br><br>

                                <input type="text" id="telefone" name="telefone" placeholder="Telefone"><br><br>

                                <input type="text" id="CPF" name="CPF" placeholder="CPF"><br><br>

                                <input type="text" id="RG" name="RG" placeholder="RG"><br><br>
                            </form>
                            
                        </div>
                        <div class="montanha2"></div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-2" >

                            <div class="centro button">
                                <img src="/images/send.svg" alt="icon">
                            </div>


                        </div>
                        <div class="col-sm-5">

                        </div>



                    </div>



                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="padding4">
            </div>
        
            <%- include('parts/footer.ejs') %>
        </div>
    </body>

</html>    

   



