<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Consultar</title>
    <%- include('parts/head.ejs') %>

</head>

<body>

    <div class="container-fluid bgcinza">

        <%- include('parts/menu_logado.ejs') %>
            <div class="row ">
                <div class="padding">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10" style="background-color: white; min-height: 400px;">

                    <div class="row">
                        <div class="consultar_bg">
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4">
                            <h3 class="centro">Consultar</h3>
                        </div>


                        <div class="montanha2">
                        </div>
                        <div class="col-sm-4">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                        </div>
                        <div class="col-sm-4 pesquisar" style="max-height: 400px; height: 100%;">
                            <input id="inputConsultar" type="text" placeholder="Pesquisar">

                            <div class="linhas">
                                <div class="linha"></div>
                                <div class="linha lcurta"></div>
                                <div class="linha"></div>
                                <div class="linha lcurta"></div>
                            </div>



                            <div class="resultadoConsulta" id="resultadoConsulta" style="display: none;">
                                <ul class="list-group list-group-flush" style="text-align: left;">


                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-4">

                        </div>



                    </div>

                </div>
                <div class="col-sm-1">
                </div>
            </div>


            <div class="padding"></div>

            <%- include('parts/footer.ejs') %>
    </div>


    <script type="text/javascript">
        const btnCadastrar = document.getElementById("btnCadastrar");
        btnCadastrar.addEventListener('click', () => {
            console.log('tentativa feita');
            const httpRequest = new XMLHttpRequest();
            const URL = 'cadastrar';
            const dadosEnviar = formularioCadastrar();

            httpRequest.open('POST', URL, true);
            httpRequest.setRequestHeader('Content-type', 'application/json');
            httpRequest.responseType = 'json';

            httpRequest.send(JSON.stringify(dadosEnviar));
            httpRequest.onreadystatechange = function () {
                if (httpRequest.status == 200 && httpRequest.readyState == 4) {
                    const response = httpRequest.response;
                    alertar(response["tipo"], response["prefixo"], response["msg"]);
                }
            }


        });

        function formularioCadastrar() {
            return {
                "nome": document.getElementById("nome").value,
                "email": document.getElementById("email").value,
                "senha": document.getElementById("senha").value,
                "telefone": document.getElementById("telefone").value,
                "cpf": document.getElementById("CPF").value,
                "rg": document.getElementById("RG").value,
                "autorizacao": "equipe",
            };
        }
    </script>
    <%- include('parts/alerta.ejs') %>

        <script type="text/javascript" src="/javascripts/alerta.js"></script>
        <script type="text/javascript">
            // BUSCAR 
            const inputConsultar = document.getElementById("inputConsultar");
            const resultadoConsulta = document.getElementById("resultadoConsulta");
            let olderValue = "";
            
            inputConsultar.addEventListener('click', () => {
                if(resultadoConsulta.children[0].children.length > 0){
                    resultadoConsulta.style.display = 'block';
                    console.log("here");
                }
            });

            inputConsultar.addEventListener('keyup', () => {
                const value = inputConsultar.value.trim();
                
                if (value.length >= 3 && value != olderValue) {
                    const httpRequest = new XMLHttpRequest();
                    const URL = `consultar/lista/?search=${value}`;
                    const dadosEnviar = value;

                    httpRequest.open('GET', URL, true);
                    httpRequest.setRequestHeader('Content-type', 'application/json');
                    httpRequest.responseType = 'json';

                    httpRequest.send();
                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.status == 200 && httpRequest.readyState == 4) {
                            const response = httpRequest.response;
                            olderValue = value;
                            if (response["data"] && response["data"].length > 0) {
                                gerarLista(response["data"]);
                            }
                            console.log(response);
                        }
                    }


                }
            });

            function gerarLista(response) {
                resultadoConsulta.children[0].innerHTML = "";

                response.forEach(u => {
                    resultadoConsulta.children[0].innerHTML += `<a class="listaLink" href="consultar/dados/${u["nome"]}"><li  id="elementoLista" class="list-group-item">${u["nome"]}</li></a>`
                });

                resultadoConsulta.style.display = 'block';
                resultadoConsulta.addEventListener('onblur', () => { console.log("lost") });
            }
        </script>

</body>

</html>