<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Usuários</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <%- include('parts/head.ejs') %>

    </head>

    <body>
        <div class="container-fluid bgcinza">
            
            <%- include('parts/menu_logado.ejs') %>
            <div class="row ">
                <div class="padding">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10" style="background-color: white;">
                
                    <div class="row">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-2">
                            <h3 class="centro">Usuários</h3>
                            
                        </div>
                        <div class="col-sm-5">

                        </div>
                   
                    </div>
                    <div class="row">
                        <div class="padding">
                        </div>
                    </div>
                    <div class="row">
                        <div class="montanha1"></div>
                        <div class="col-sm-4 " >
                            
                        </div>
                        <div class="col-sm-4 edicao">
                            <div class="row">

                                <div class="col-sm-12 edicao_opcoes">
                                    <div id="btnConsultar" class="fontp"> <img class="icon icons" src="/images/search.svg" alt="icon"> Consultar Usuário</div>
                                    <div id="btnAdicionar" class="fontp"> <img class="icon icons" src="/images/plus.svg" alt="icon">Adicionar Usuário</div>

                                    <div class="fontp"> <img class="icon icons" src="/images/pen.svg" alt="icon"> Editar Usuário</div>
                                    <div class="fontp"> <img class="icon icons" src="/images/delete.svg" alt="icon"> Excluir Usuário</div>
                                </div>
                                

                            </div>


                        </div>
                       <div class="montanha2"></div>
                        <div class="col-sm-4 ">
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-1"></div>
            </div>

            <div class="row bgcinza">
                <div class="padding">

                </div>
            </div>
            
            <%- include('parts/footer.ejs') %>

            <script type="text/javascript">
                const btnConsultar = document.getElementById("btnConsultar");
                const btnAdicionar = document.getElementById("btnAdicionar");

                btnConsultar.addEventListener('click', ()=>{
                    window.location.href="consultar"
                });

                btnAdicionar.addEventListener('click', ()=>{
                    window.location.href="cadastro"
                });


            </script>


    </body>
</html>